:root {
    --main-font: "Roboto", sans-serif;
    --secondary-font: "Verdana", sans-serif;
    --main-color: #212121;
}

body {
    font-family: var(--main-font)
    text-decoration: none;
  }

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
}