.article__header {
    width: 270px;
    height: 16px;
  
    font-weight: bold;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
  
    margin-top: 50px;
    margin-left: 0;
  }
  
  .article__describe {
    width: 270px;
    height: 75px;
  
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
  
    color: #757575;
    margin: 0;
  }

  .article-columns {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    justify-content: space-between;
  }

  .article__icon {
    width: 70px;
    height: 70px;
    fill: #2196f3;
  }
  
  .article__icon_container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 270px;
    height: 120px;
    border-radius: 4px;
  
    background-color: #f5f4fa;
  }