.card-list {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px;
  margin-top: 0px;
}

.card-list__label {
  position: relative;
  overflow: hidden;
  background-color: $color-card-list-background;
}
.card-list__label > .card-list__text {
  text-transform: uppercase;
  font-family: "Roboto";
  font-weight: bold;
  font-size: 14px;
  letter-spacing: 0.03em;
  position: absolute;
  margin: 0px;
  width: 370px;
  height: 70px;
  bottom: 0px;
  color: $color-background;
  background-color: $color-card-list-background;

  display: flex;
  justify-content: center;
  align-items: center;
}

.card-list--client {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px;
  margin-top: 0px;
}

.client-icon {
  width: 106px;
  height: 60px;
}

.card-list__item--client {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 92px;
  border-radius: 4px;
  border: 1px solid $color-card-list-border;
  fill: $color-card-list-border;

  transition-property: fill, border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
      border: 1px solid $color-fill;
      fill: $color-fill;
  }
}

.card-list__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 92px;
  border-radius: 4px;
  border: 1px solid grey;
  fill: grey;

  transition-property: fill, border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
      border: 1px solid blue;
      fill: blue;
    }
}



.card__item--figure {
  margin: 0;
  background-color: $color-background;
  box-shadow: 0px 1px 3px $color-box-shadow1, 0px 1px 1px $color-box-shadow2,
    0px 2px 1px $color-box-shadow3;
  border-radius: 0px 0px 4px 4px;
  display: inline-block;
  text-align: center;
}

.figcaption__member {
  width: 72px;
  height: 19px;
  margin-bottom: 10px;
  margin-top: 0px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.figcaption {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 0%;
}

.figcaption__function {
  width: 147px;
  height: 19px;
  margin: 0%;

  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;

  color: $color-describe;
}
