.menu {
    display: inline-block;
  }
  .menu__list {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    width: 254px;
    height: 16px;
    text-decoration: none;
    padding: 0px;
    margin-left: 93px;
    margin-right: 345px;
  }