.section {
    padding-top: 94px;
    padding-bottom: 94px;
    background-color: $color-section-background;
  }
  

.section-title {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
  
    font-weight: bold;
    font-size: 36px;
    line-height: 1.17;
    letter-spacing: 0.03em;
  }